{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}




<section class="experiance-section" id="section_1">
    <div class="auto-container">
        <div class="row clearfix" >
            <!-- Title Column -->
            <div class="title-column col-lg-5 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image">
                        <img src="{% static 'images/imorat/NeftGazTadqiqot logo copy.png' %}" alt=""  id="lg1">
                    </div>
                    <h2>{% trans "65 yildan ortiq tajriba" %}<br></h2>
                   
                    <div class="image" >
                        <img  src="{% static 'images/tarix.jpg' %}" alt=""  >
                    </div>
                </div>
                
                
                
            </div>

            <!-- Content Column -->
            <div class="content-column col-lg-7 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="title-box">
                        <h2>{% trans "“Neftgaztadqiqot” AJ" %}</h2>
                        <p>
                            {% trans "“Neftgaztadqiqot” aksiyadorlik jamiyati Mamlakatimiz tarixida birinchi neft va tabiiy gaz konlarini o`zlashtirish ishlari boshlanishi asnosida, o‘zida yuqori ilmiy-texnik salohiyat shuningdek olim va mutaxassislarning boy tajribasini jamlagan holda 1959 yilda “Markaziy ilmimy tadqiqot laboratoriyasi” (СНИЛ) nomi bilan  tashkil topgan. " %}<br>
                        </p>
                        <p>
                            {% trans "“Neftgaztadqiqot” aksiyadorlik jamiyati Markaziy Osiyoda neft va gaz qazib olishning tarixiy rivojlanishi bilan uzviy bog'liqdir. Uning mehnat jamoasi O‘zbekiston Respublikasining milliy boyligi bo‘lgan tabiiy xom ashyoni qazib olish va o‘zlashtirishga katta hissa qo‘shdi.  " %}<br>
                        </p>
                        <p>
                            {% trans "Korxonaning tashkil etililishidan ko`zlangan asosiy maqsad, neft va gaz konlarini tadqiq etish, kon uskunalari va quvurlarini elektr-kimyoviy hamda ingibitorli himoya qilish, qazib olinayotgan gazlar, gaz kondensatlari, neftlar va qatlam suvlarining xususiyatlari va tarkiblarini ilmiy tadqiq etish, ularni naqliyotga tayyorlash, hamda tashish  texnologiyalarini takomillashtirishga qaratilgan tadqiqot ishlarini amalga oshirishdan iborat. " %}
                        </p>

                        <p>
                            {% trans "Oʻzbekiston Respublikasi mustaqilligining birinchi kunlaridan sohaning yangi hayoti, neft va gaz sanoati rivojlanishining yangi bosqichi boshlandi. Mamlakat rahbariyati ushbu sohaning keng koʻlamli rivojlanishiga katta ahamiyat berdi. Oʻzbekiston mustaqillikka erishishi va 1992 yildan respublikada iqtisodiy islohotlar boshlanishi bilan neft-gaz kompleksiga alohida e'tibor qaratila boshlandi. " %}
                        </p>
                        <p>
                            {% trans "“Neftgaztadqiqot” aksiyadorlik jamiyati jamoasi umumiy yig`ilishi va O`zbekiston Respublikasi Davlat mulkini boshqarish va tadbirkorlikni qo`llab- quvvatlash qo`mitasi Buxoro viloyat boshqarmasining 1995 yil 12 oktyabrdagi 406-sonli buyrug`i asosida xususiylashtirish orqali ta`sis etildi." %}
                        </p>
                        <p>
                            {% trans "Buxoro shahar hokimining 1995 yil 30 noyabrdagi 2654-sonli qaroriga asosan “Neftgaztadqiqot” ochiq aksiyadorlik jamiyati sifatida faoliyat yurita boshlagan. 2014 yil 22 avgustdagi umumiy yig`ilish bayonnomasi bilan “Neftgaztadqiqot” ochiq aksiyadorlik jamiyati,“Neftgaztadqiqot” aksiyadorlik jamiyatiga o`zgartirildi. " %}
                        </p>
                        <p>
                            {% trans "Hozirgi kunga kelib “Neftgaztadqiqot” aksiyadorlik jamiyati Sanoat korxonalari shuningdek neft va gaz tarmog`ining barcha faoliyat sohasini qamrab olgan holda yuqori malakali mutaxassislarni jamlab 50 dan ortiq korxonalar bilan  hamkorlikda 65 yil davomida o`z faoliyatini davom ettirib kelmoqda." %}
                        </p>



                      
                        
                        
                    </div>
                    
                    
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="specialization-box">
                <h2 class="text-center">{% trans "Bizning yo'nalishlar" %}</h2>
                <br><br>
        
                <!-- Specialise Box -->
                <div class="specialise-box">
                    <div class="inner-box">
                        <div class="content">
                            <div class="icon icofont-building-alt"></div>
                            <h5><a href="projects-detail.html">{% trans "Neft va gazni qayta ishlash mahsulotlari sinov laboratoriyasi" %}</a></h5>
                            <p>{% trans "«Neftgaztadqiqot» AJ tarkibidagi neft va gazni qayta ishlash mahsulotlari sinov laboratoriyasi O‘zbekiston Respublikasi Milliy sertifikatlashtirish tizimida akkreditatsiya qilingan." %}</p>
                        </div>
                    </div>
                </div>
        
                <!-- Specialise Box -->
                <div class="specialise-box">
                    <div class="inner-box">
                        <div class="content">
                            <div class="icon icofont-livejournal"></div>
                            <h5><a href="projects-detail.html">{% trans "Ekologik-analitik laboratoriya" %}</a></h5>
                            <p>{% trans "O‘zbekiston Respublikasi Tabiatni muhofaza qilish Davlat qo‘mitasi tomonidan attestatsiya qilingan ekoanalitik laboratoriya." %}</p>
                        </div>
                    </div>
                </div>
        
                <!-- Specialise Box -->
                <div class="specialise-box">
                    <div class="inner-box">
                        <div class="content">
                            <div class="icon icofont-engineer"></div>
                            <h5><a href="projects-detail.html">{% trans "Ingibitorli himoya va Elektr-kimyoviy muhofaza laboratoriyalari" %}</a></h5>
                            <p>{% trans "«O‘zstandart» agentligi tomonidan attestatsiya qilingan ingibitor ximoyasi hamda elektr-kimyoviy muhofaza sinov laboratoriyalari." %}</p>
                        </div>
                    </div>
                </div>
        
                <!-- Specialise Box -->
                <div class="specialise-box">
                    <div class="inner-box">
                        <div class="content">
                            <div class="icon icofont-bank-alt"></div>
                            <h5><a href="projects-detail.html">{% trans "Xalqaro standartlar talablariga javob beradigan tadqiqot laboratoriyalari" %}</a></h5>
                            <p>{% trans "Laboratoriyalar xalqaro standartlar talablariga javob beradi va tadqiqotlarni yuqori darajada o‘tkazadi." %}</p>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
        
    </div>
</section>



<section class="project-section" id="loyihalar">

    <!-- Project Tabs -->
    <div class="project-tab">
        <div class="auto-container">
            <div class="tab-btns-box">
                <!--Tabs Header-->
                <div class="tabs-header">
                    <div class="clearfix">
                        <div class="pull-left">
                            <!-- Sec Title -->
                            <div class="sec-title">
                                <h2>{% trans "Bizning loyihalar" %}</h2>
                            </div>
                        </div>
                      
                    </div>
                    
                </div>
            </div>
        </div>
<!-- ----- -->
        <!--Tabs Content-->
        <style>
            .gallery-block .image img {
                width: 100%;       /* Занимает всю ширину контейнера */
                height: 300px;     /* Задайте желаемую высоту для всех изображений */
                object-fit: cover; /* Обрезает изображение, сохраняя его пропорции */
                border-radius: 6px; /* Добавьте скругление углов, если необходимо */
            }
            
        </style>
        <div class="p-tabs-content">

            <!-- Portfolio Tab / Active Tab -->
            <div class="p-tab active-tab" id="p-tab-1">
                <div class="project-carousel owl-theme owl-carousel">

                    <!-- Gallery Block -->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{% static 'images/1.jpg' %}" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Gallery Block -->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{% static 'images/2.jpg' %}" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                                                          
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Gallery Block -->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{% static 'images/4.jpg' %}" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Gallery Block -->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{% static 'images/3.jpg' %}" alt="" />
                                <div class="overlay-box">
                                    <div class="content">                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Gallery Block -->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{% static 'images/5.jpg' %}" alt="" />
                                <div class="overlay-box">
                                    <div class="content">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>

    </div>
</section>
<!-- ---------- - - - --  -- - - - -  - - -- - -  -->
<section class="services-section">
    <div class="auto-container">
        <div class="sec-title">
            <h2>{% trans "Bizni nima uchun tanlashadi" %}</h2>
        </div>
        <div class="inner-container">
            <div class="clearfix">

                <!-- Service Block -->
                <div class="service-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <h5><a href="projects-detail.html">{% trans "Bizning afzalliklarimiz" %}</a></h5>
                        <p>{% trans "Xalqaro darajada shahodatlangan, yuqori sifatli tadqiqotlarning zamonaviy asbob-uskunalar bilan amalga oshirilishi" %}</p>
                        <div class="icon icofont-labour"></div>
                        <a href="#" class="more">{% trans "ko'proq" %}</a>
                        
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <h5><a href="projects-detail.html">{% trans "Professional va fidoyi jamoa" %}</a></h5>
                        <p>{% trans "Faoliyat yo'nalishlari bo'yicha yuqori malakali mutaxassislarning mavjudligi." %}</p>
                        <div class="icon icofont-ruler-compass-alt"></div>
                        <a href="#" class="more">{% trans "ko'proq" %}</a>
                        
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <h5><a href="projects-detail.html">{% trans "Ilmiy-tadqiqot ishlarining  arzonligi" %}</a></h5>
                        <p>{% trans "Premium xizmat paketlari va tadqiqot va ishlanmalar uchun optimal narxlar." %}</p>
                        <div class="icon icofont-credit-card"></div>
                        <a href="#" class="more">{% trans "ko'proq" %}</a>                        
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <h5><a href="projects-detail.html">{% trans "24/7 qo'llab quvvatlash" %}</a></h5>
                        <p>{% trans "Korxonaning geografik joylashuvi hisobiga tadqiqotchi guruhlarning yuqori darajada mobilligi" %}</p>
                        <div class="icon icofont-live-support"></div>
                        <a href="#" class="more">{% trans "ko'proq" %}</a>                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


{% include 'includes/news_detail.html' %}

<section id="blog" class="work-section" style="background-image: url('{% static 'images/photo_2022-12-09_12-30-31.jpg' %}'); background-position:center;">
    <div class="auto-container">
        <div class="content">
            
            <h1>{% trans "Barqaror rivojlanish uchun" %} <br> {% trans "muhim ilmiy tadqiqotlar" %}</h1>
            <p>
                {% trans "Tashkil etilgan sanadan boshlab, “Neftgaztadqiqot” АJ " %} <br> 
                {% trans  "rivojlanishining asosiy yoʼnalishlari – eng yangi texnologiyalarni oʼzlashtirish va yuqori malakali " %} <br> 
                {% trans "mutaxassislarni jalb qilish orqali olib boriladigan tadqiqot ishlari sifatini, amalga oshirilgan ishlarning" %}<br> 
                {% trans "tezkorligini, oʼlchovlarning aniqligini muntazam ravishda oshirishdan iborat boʼlmoqda." %} 
            </p>



        </div>
    </div>
</section>

<section  class="testimonial-section" style="background-image: url('{% static "images/background/pattern-1.png" %}')">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Carousel Column -->
            <div class="carousel-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="single-item-carousel owl-carousel owl-theme">

                        <!-- Testimonial Block -->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="quote-icon ion-quote"></div>
                                <h2>{% trans " Xalqaro sertifikatlangan" %} <br> {% trans "yuqori sifatli tadqiqotlar." %} </h2>    
                                <div class="category"><span></span> </div>
                            </div>
                        </div>

                        <!-- Testimonial Block -->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="quote-icon ion-quote"></div>
                                <h2>{% trans "Akkreditatsiya markazi DUK tomonidan taqdim qilingan " %} <br> {% trans "O’zDSt ISO/IEC 17025:2019 standarti talablariga muvofiq " %} <br>{% trans "Akkreditatsiya tog`risidagi guvohnomaga ega" %}</h2>
                                                
                                
                                <div class="category"><span></span> </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Image Column -->
             <style>

             </style>
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <img style=" border-radius: 20px;" src="{% static 'images/kaskaa.jpg' %}" alt="" />
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</section>
<br>
<section class="sponsors-section">
    <div class="auto-container">

        <div class="carousel-outer">
            <!--Sponsors Slider-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li>
                    <div class="image-box"><a href="#"><img src="{% static 'images/spon.jpg' %}" alt=""></a></div>
                </li>
                <li>
                    <div class="image-box"><a href="#"><img src="{% static 'images/spon2.jpg' %}" alt=""></a></div>
                </li>
                <li>
                    <div class="image-box"><a href="#"><img src="{% static 'images/spon5.jpg' %}" alt=""></a></div>
                </li>
                <li>
                    <div class="image-box"><a href="#"><img src="{% static 'images/spon3.jpg' %}" alt=""></a></div>
                </li>
                <li>
                    <div class="image-box"><a href="#"><img src="{% static 'images/spon4.jpg' %}" alt=""></a></div>
                </li>
                
            
                
            </ul>
        </div>

    </div>
</section>

<div class="section" id="contact">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3066.469577520531!2d64.4285958!3d39.7740161!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f50077cb46b2101%3A0x5723d94b0272ecf3!2s%22Neftgaztadqiqot%22%20AJ!5e0!3m2!1sru!2s!4v1726655626298!5m2!1sru!2s" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock %}


